src/front-end
[{"id":"1d535466.62ad8c","type":"subflow","name":"counter and write file","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"102dfd11.ffd8a3"}]}],"out":[{"x":820,"y":280,"wires":[{"id":"33d4788.2255388","port":0}]}],"env":[]},{"id":"343bb31c.34e09c","type":"increment","z":"1d535466.62ad8c","name":"","target":"payload","x":600,"y":140,"wires":[["33d4788.2255388"]]},{"id":"33d4788.2255388","type":"switch","z":"1d535466.62ad8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":280,"wires":[["45ae087e.bfde88"],[]]},{"id":"45ae087e.bfde88","type":"delay","z":"1d535466.62ad8c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":140,"wires":[["343bb31c.34e09c"]]},{"id":"102dfd11.ffd8a3","type":"function","z":"1d535466.62ad8c","name":"reset for each write","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["33d4788.2255388"]]},{"id":"868a2d77.bf947","type":"tab","label":"Linda_Project","disabled":false,"info":""},{"id":"2702c3ec.bb10bc","type":"csv","z":"868a2d77.bf947","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":650,"y":140,"wires":[["71a3f84b.24a048","96d74342.475c4"]]},{"id":"71a3f84b.24a048","type":"debug","z":"868a2d77.bf947","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.length","targetType":"msg","x":850,"y":80,"wires":[]},{"id":"96d74342.475c4","type":"function","z":"868a2d77.bf947","name":"","func":"global.set(\"raw_data_set\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":140,"wires":[[]]},{"id":"dfe27583.e636d8","type":"debug","z":"868a2d77.bf947","name":"message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":300,"wires":[]},{"id":"7b86b31f.da3f6c","type":"function","z":"868a2d77.bf947","name":"","func":"var i = msg.payload;\nmsg.payload = global.get(\"raw_data_set\");\nmsg.payload = msg.payload[i];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["dfe27583.e636d8","c2d2a857.ea6ca8"]]},{"id":"6f005b5d.fc1cb4","type":"file in","z":"868a2d77.bf947","name":"swim advice","filename":"beach-swim-advisories-1.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":100,"wires":[["2702c3ec.bb10bc"]]},{"id":"badd0cd1.a0955","type":"http in","z":"868a2d77.bf947","name":"dataset dump","url":"/dump_data_set","method":"post","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["ca5ad915.63e2e8","7075bc02.742da4","5406fc9e.3ed5b4"]]},{"id":"ca5ad915.63e2e8","type":"http response","z":"868a2d77.bf947","name":"acquire post data","statusCode":"","headers":{},"x":370,"y":20,"wires":[]},{"id":"7075bc02.742da4","type":"switch","z":"868a2d77.bf947","name":"Signal-to-Overwrite","property":"payload.signal","propertyType":"msg","rules":[{"t":"eq","v":"write","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":100,"wires":[["6f005b5d.fc1cb4"]]},{"id":"c2d2a857.ea6ca8","type":"file","z":"868a2d77.bf947","name":"write-to-temp","filename":"C:\\Users\\binqb\\PycharmProjects\\Linda_project\\temp","appendNewline":true,"createDir":true,"overwriteFile":"false","x":810,"y":400,"wires":[[]]},{"id":"71bb7412.a5f2dc","type":"http in","z":"868a2d77.bf947","name":"write_temp","url":"/write_temp","method":"post","upload":false,"swaggerDoc":"","x":80,"y":300,"wires":[["be0597d.6fa1168","175ba104.9d5b2f"]]},{"id":"be0597d.6fa1168","type":"http response","z":"868a2d77.bf947","name":"acquire post data","statusCode":"","headers":{},"x":270,"y":260,"wires":[]},{"id":"a2ce2018.782ca","type":"debug","z":"868a2d77.bf947","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":200,"wires":[]},{"id":"5406fc9e.3ed5b4","type":"function","z":"868a2d77.bf947","name":"","func":"global.set(\"reset\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[[]]},{"id":"175ba104.9d5b2f","type":"switch","z":"868a2d77.bf947","name":"Signal-to-Overwrite","property":"payload.signal","propertyType":"msg","rules":[{"t":"eq","v":"write","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":340,"wires":[["6c6ddeb3.f02c4"]]},{"id":"6c6ddeb3.f02c4","type":"subflow:1d535466.62ad8c","z":"868a2d77.bf947","name":"","env":[],"x":500,"y":300,"wires":[["7b86b31f.da3f6c"]]},{"id":"3d1ffa93.84b036","type":"comment","z":"868a2d77.bf947","name":"You can change this with your own dataset","info":"","x":580,"y":60,"wires":[]}]