src/node-red-flow.txt
[{"id":"efb6143c.dca558","type":"tab","label":"HAR on the fly prediction","disabled":false,"info":""},{"id":"8a33cd9c.2c45f","type":"http request","z":"efb6143c.dca558","name":"HTTP GET request","method":"POST","ret":"txt","url":"http://127.0.0.1:5000/api/prediction","tls":"","x":270,"y":760,"wires":[["333e1e44.cbdff2"]]},{"id":"1e0e460.bbea53a","type":"debug","z":"efb6143c.dca558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":660,"wires":[]},{"id":"333e1e44.cbdff2","type":"debug","z":"efb6143c.dca558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":760,"wires":[]},{"id":"13daa49c.56675b","type":"inject","z":"efb6143c.dca558","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":660,"wires":[["a1d8f1dc.734cf8"]]},{"id":"a1d8f1dc.734cf8","type":"file in","z":"efb6143c.dca558","name":"open CSV file","filename":"/home/linda/Uni/Master_Thesis/play/HAR_master_thesis/src/testing-samples-for-on-the-fly.csv","format":"lines","chunk":false,"sendError":false,"x":280,"y":660,"wires":[["bc379d25.3a9f98"]]},{"id":"bc379d25.3a9f98","type":"csv","z":"efb6143c.dca558","name":"get samples","sep":";","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"var1(t-40);var2(t-40);var3(t-40);var4(t-40);var5(t-40);var6(t-40);var7(t-40);var8(t-40);var9(t-40);var10(t-40);var11(t-40);var12(t-40);var13(t-40);var14(t-40);var15(t-40);var16(t-40);var17(t-40);var18(t-40);var19(t-40);var20(t-40);var21(t-40);var22(t-40);var23(t-40);var24(t-40);var25(t-40);var26(t-40);var27(t-40);var28(t-40);var29(t-40);var30(t-40);var31(t-40);var32(t-40);var33(t-40);var34(t-40);var35(t-40);var36(t-40);var37(t-40);var38(t-40);var39(t-40);var40(t-40);var41(t-40);var42(t-40);var43(t-40);var44(t-40);var45(t-40);var46(t-40);var47(t-40);var48(t-40);var49(t-40);var50(t-40);var51(t-40);var52(t-40);var53(t-40);var54(t-40);var55(t-40);var56(t-40);var57(t-40);var58(t-40);var59(t-40);var60(t-40);var61(t-40);var62(t-40);var63(t-40);var64(t-40);var65(t-40);var66(t-40);var67(t-40);var68(t-40);var69(t-40);var70(t-40);var71(t-40);var72(t-40);var73(t-40);var74(t-40);var75(t-40);var76(t-40);var77(t-40);var78(t-40);var79(t-40);var80(t-40);var81(t-40);var82(t-40);var83(t-40);var1(t-39);var2(t-39);var3(t-39);var4(t-39);var5(t-39);var6(t-39);var7(t-39);var8(t-39);var9(t-39);var10(t-39);var11(t-39);var12(t-39);var13(t-39);var14(t-39);var15(t-39);var16(t-39);var17(t-39);var18(t-39);var19(t-39);var20(t-39);var21(t-39);var22(t-39);var23(t-39);var24(t-39);var25(t-39);var26(t-39);var27(t-39);var28(t-39);var29(t-39);var30(t-39);var31(t-39);var32(t-39);var33(t-39);var34(t-39);var35(t-39);var36(t-39);var37(t-39);var38(t-39);var39(t-39);var40(t-39);var41(t-39);var42(t-39);var43(t-39);var44(t-39);var45(t-39);var46(t-39);var47(t-39);var48(t-39);var49(t-39);var50(t-39);var51(t-39);var52(t-39);var53(t-39);var54(t-39);var55(t-39);var56(t-39);var57(t-39);var58(t-39);var59(t-39);var60(t-39);var61(t-39);var62(t-39);var63(t-39);var64(t-39);var65(t-39);var66(t-39);var67(t-39);var68(t-39);var69(t-39);var70(t-39);var71(t-39);var72(t-39);var73(t-39);var74(t-39);var75(t-39);var76(t-39);var77(t-39);var78(t-39);var79(t-39);var80(t-39);var81(t-39);var82(t-39);var83(t-39);var1(t-38);var2(t-38);var3(t-38);var4(t-38);var5(t-38);var6(t-38);var7(t-38);var8(t-38);var9(t-38);var10(t-38);var11(t-38);var12(t-38);var13(t-38);var14(t-38);var15(t-38);var16(t-38);var17(t-38);var18(t-38);var19(t-38);var20(t-38);var21(t-38);var22(t-38);var23(t-38);var24(t-38);var25(t-38);var26(t-38);var27(t-38);var28(t-38);var29(t-38);var30(t-38);var31(t-38);var32(t-38);var33(t-38);var34(t-38);var35(t-38);var36(t-38);var37(t-38);var38(t-38);var39(t-38);var40(t-38);var41(t-38);var42(t-38);var43(t-38);var44(t-38);var45(t-38);var46(t-38);var47(t-38);var48(t-38);var49(t-38);var50(t-38);var51(t-38);var52(t-38);var53(t-38);var54(t-38);var55(t-38);var56(t-38);var57(t-38);var58(t-38);var59(t-38);var60(t-38);var61(t-38);var62(t-38);var63(t-38);var64(t-38);var65(t-38);var66(t-38);var67(t-38);var68(t-38);var69(t-38);var70(t-38);var71(t-38);var72(t-38);var73(t-38);var74(t-38);var75(t-38);var76(t-38);var77(t-38);var78(t-38);var79(t-38);var80(t-38);var81(t-38);var82(t-38);var83(t-38);var1(t-37);var2(t-37);var3(t-37);var4(t-37);var5(t-37);var6(t-37);var7(t-37);var8(t-37);var9(t-37);var10(t-37);var11(t-37);var12(t-37);var13(t-37);var14(t-37);var15(t-37);var16(t-37);var17(t-37);var18(t-37);var19(t-37);var20(t-37);var21(t-37);var22(t-37);var23(t-37);var24(t-37);var25(t-37);var26(t-37);var27(t-37);var28(t-37);var29(t-37);var30(t-37);var31(t-37);var32(t-37);var33(t-37);var34(t-37);var35(t-37);var36(t-37);var37(t-37);var38(t-37);var39(t-37);var40(t-37);var41(t-37);var42(t-37);var43(t-37);var44(t-37);var45(t-37);var46(t-37);var47(t-37);var48(t-37);var49(t-37);var50(t-37);var51(t-37);var52(t-37);var53(t-37);var54(t-37);var55(t-37);var56(t-37);var57(t-37);var58(t-37);var59(t-37);var60(t-37);var61(t-37);var62(t-37);var63(t-37);var64(t-37);var65(t-37);var66(t-37);var67(t-37);var68(t-37);var69(t-37);var70(t-37);var71(t-37);var72(t-37);var73(t-37);var74(t-37);var75(t-37);var76(t-37);var77(t-37);var78(t-37);var79(t-37);var80(t-37);var81(t-37);var82(t-37);var83(t-37);var1(t-36);var2(t-36);var3(t-36);var4(t-36);var5(t-36);var6(t-36);var7(t-36);var8(t-36);var9(t-36);var10(t-36);var11(t-36);var12(t-36);var13(t-36);var14(t-36);var15(t-36);var16(t-36);var17(t-36);var18(t-36);var19(t-36);var20(t-36);var21(t-36);var22(t-36);var23(t-36);var24(t-36);var25(t-36);var26(t-36);var27(t-36);var28(t-36);var29(t-36);var30(t-36);var31(t-36);var32(t-36);var33(t-36);var34(t-36);var35(t-36);var36(t-36);var37(t-36);var38(t-36);var39(t-36);var40(t-36);var41(t-36);var42(t-36);var43(t-36);var44(t-36);var45(t-36);var46(t-36);var47(t-36);var48(t-36);var49(t-36);var50(t-36);var51(t-36);var52(t-36);var53(t-36);var54(t-36);var55(t-36);var56(t-36);var57(t-36);var58(t-36);var59(t-36);var60(t-36);var61(t-36);var62(t-36);var63(t-36);var64(t-36);var65(t-36);var66(t-36);var67(t-36);var68(t-36);var69(t-36);var70(t-36);var71(t-36);var72(t-36);var73(t-36);var74(t-36);var75(t-36);var76(t-36);var77(t-36);var78(t-36);var79(t-36);var80(t-36);var81(t-36);var82(t-36);var83(t-36);var1(t-35);var2(t-35);var3(t-35);var4(t-35);var5(t-35);var6(t-35);var7(t-35);var8(t-35);var9(t-35);var10(t-35);var11(t-35);var12(t-35);var13(t-35);var14(t-35);var15(t-35);var16(t-35);var17(t-35);var18(t-35);var19(t-35);var20(t-35);var21(t-35);var22(t-35);var23(t-35);var24(t-35);var25(t-35);var26(t-35);var27(t-35);var28(t-35);var29(t-35);var30(t-35);var31(t-35);var32(t-35);var33(t-35);var34(t-35);var35(t-35);var36(t-35);var37(t-35);var38(t-35);var39(t-35);var40(t-35);var41(t-35);var42(t-35);var43(t-35);var44(t-35);var45(t-35);var46(t-35);var47(t-35);var48(t-35);var49(t-35);var50(t-35);var51(t-35);var52(t-35);var53(t-35);var54(t-35);var55(t-35);var56(t-35);var57(t-35);var58(t-35);var59(t-35);var60(t-35);var61(t-35);var62(t-35);var63(t-35);var64(t-35);var65(t-35);var66(t-35);var67(t-35);var68(t-35);var69(t-35);var70(t-35);var71(t-35);var72(t-35);var73(t-35);var74(t-35);var75(t-35);var76(t-35);var77(t-35);var78(t-35);var79(t-35);var80(t-35);var81(t-35);var82(t-35);var83(t-35);var1(t-34);var2(t-34);var3(t-34);var4(t-34);var5(t-34);var6(t-34);var7(t-34);var8(t-34);var9(t-34);var10(t-34);var11(t-34);var12(t-34);var13(t-34);var14(t-34);var15(t-34);var16(t-34);var17(t-34);var18(t-34);var19(t-34);var20(t-34);var21(t-34);var22(t-34);var23(t-34);var24(t-34);var25(t-34);var26(t-34);var27(t-34);var28(t-34);var29(t-34);var30(t-34);var31(t-34);var32(t-34);var33(t-34);var34(t-34);var35(t-34);var36(t-34);var37(t-34);var38(t-34);var39(t-34);var40(t-34);var41(t-34);var42(t-34);var43(t-34);var44(t-34);var45(t-34);var46(t-34);var47(t-34);var48(t-34);var49(t-34);var50(t-34);var51(t-34);var52(t-34);var53(t-34);var54(t-34);var55(t-34);var56(t-34);var57(t-34);var58(t-34);var59(t-34);var60(t-34);var61(t-34);var62(t-34);var63(t-34);var64(t-34);var65(t-34);var66(t-34);var67(t-34);var68(t-34);var69(t-34);var70(t-34);var71(t-34);var72(t-34);var73(t-34);var74(t-34);var75(t-34);var76(t-34);var77(t-34);var78(t-34);var79(t-34);var80(t-34);var81(t-34);var82(t-34);var83(t-34);var1(t-33);var2(t-33);var3(t-33);var4(t-33);var5(t-33);var6(t-33);var7(t-33);var8(t-33);var9(t-33);var10(t-33);var11(t-33);var12(t-33);var13(t-33);var14(t-33);var15(t-33);var16(t-33);var17(t-33);var18(t-33);var19(t-33);var20(t-33);var21(t-33);var22(t-33);var23(t-33);var24(t-33);var25(t-33);var26(t-33);var27(t-33);var28(t-33);var29(t-33);var30(t-33);var31(t-33);var32(t-33);var33(t-33);var34(t-33);var35(t-33);var36(t-33);var37(t-33);var38(t-33);var39(t-33);var40(t-33);var41(t-33);var42(t-33);var43(t-33);var44(t-33);var45(t-33);var46(t-33);var47(t-33);var48(t-33);var49(t-33);var50(t-33);var51(t-33);var52(t-33);var53(t-33);var54(t-33);var55(t-33);var56(t-33);var57(t-33);var58(t-33);var59(t-33);var60(t-33);var61(t-33);var62(t-33);var63(t-33);var64(t-33);var65(t-33);var66(t-33);var67(t-33);var68(t-33);var69(t-33);var70(t-33);var71(t-33);var72(t-33);var73(t-33);var74(t-33);var75(t-33);var76(t-33);var77(t-33);var78(t-33);var79(t-33);var80(t-33);var81(t-33);var82(t-33);var83(t-33);var1(t-32);var2(t-32);var3(t-32);var4(t-32);var5(t-32);var6(t-32);var7(t-32);var8(t-32);var9(t-32);var10(t-32);var11(t-32);var12(t-32);var13(t-32);var14(t-32);var15(t-32);var16(t-32);var17(t-32);var18(t-32);var19(t-32);var20(t-32);var21(t-32);var22(t-32);var23(t-32);var24(t-32);var25(t-32);var26(t-32);var27(t-32);var28(t-32);var29(t-32);var30(t-32);var31(t-32);var32(t-32);var33(t-32);var34(t-32);var35(t-32);var36(t-32);var37(t-32);var38(t-32);var39(t-32);var40(t-32);var41(t-32);var42(t-32);var43(t-32);var44(t-32);var45(t-32);var46(t-32);var47(t-32);var48(t-32);var49(t-32);var50(t-32);var51(t-32);var52(t-32);var53(t-32);var54(t-32);var55(t-32);var56(t-32);var57(t-32);var58(t-32);var59(t-32);var60(t-32);var61(t-32);var62(t-32);var63(t-32);var64(t-32);var65(t-32);var66(t-32);var67(t-32);var68(t-32);var69(t-32);var70(t-32);var71(t-32);var72(t-32);var73(t-32);var74(t-32);var75(t-32);var76(t-32);var77(t-32);var78(t-32);var79(t-32);var80(t-32);var81(t-32);var82(t-32);var83(t-32);var1(t-31);var2(t-31);var3(t-31);var4(t-31);var5(t-31);var6(t-31);var7(t-31);var8(t-31);var9(t-31);var10(t-31);var11(t-31);var12(t-31);var13(t-31);var14(t-31);var15(t-31);var16(t-31);var17(t-31);var18(t-31);var19(t-31);var20(t-31);var21(t-31);var22(t-31);var23(t-31);var24(t-31);var25(t-31);var26(t-31);var27(t-31);var28(t-31);var29(t-31);var30(t-31);var31(t-31);var32(t-31);var33(t-31);var34(t-31);var35(t-31);var36(t-31);var37(t-31);var38(t-31);var39(t-31);var40(t-31);var41(t-31);var42(t-31);var43(t-31);var44(t-31);var45(t-31);var46(t-31);var47(t-31);var48(t-31);var49(t-31);var50(t-31);var51(t-31);var52(t-31);var53(t-31);var54(t-31);var55(t-31);var56(t-31);var57(t-31);var58(t-31);var59(t-31);var60(t-31);var61(t-31);var62(t-31);var63(t-31);var64(t-31);var65(t-31);var66(t-31);var67(t-31);var68(t-31);var69(t-31);var70(t-31);var71(t-31);var72(t-31);var73(t-31);var74(t-31);var75(t-31);var76(t-31);var77(t-31);var78(t-31);var79(t-31);var80(t-31);var81(t-31);var82(t-31);var83(t-31);var1(t-30);var2(t-30);var3(t-30);var4(t-30);var5(t-30);var6(t-30);var7(t-30);var8(t-30);var9(t-30);var10(t-30);var11(t-30);var12(t-30);var13(t-30);var14(t-30);var15(t-30);var16(t-30);var17(t-30);var18(t-30);var19(t-30);var20(t-30);var21(t-30);var22(t-30);var23(t-30);var24(t-30);var25(t-30);var26(t-30);var27(t-30);var28(t-30);var29(t-30);var30(t-30);var31(t-30);var32(t-30);var33(t-30);var34(t-30);var35(t-30);var36(t-30);var37(t-30);var38(t-30);var39(t-30);var40(t-30);var41(t-30);var42(t-30);var43(t-30);var44(t-30);var45(t-30);var46(t-30);var47(t-30);var48(t-30);var49(t-30);var50(t-30);var51(t-30);var52(t-30);var53(t-30);var54(t-30);var55(t-30);var56(t-30);var57(t-30);var58(t-30);var59(t-30);var60(t-30);var61(t-30);var62(t-30);var63(t-30);var64(t-30);var65(t-30);var66(t-30);var67(t-30);var68(t-30);var69(t-30);var70(t-30);var71(t-30);var72(t-30);var73(t-30);var74(t-30);var75(t-30);var76(t-30);var77(t-30);var78(t-30);var79(t-30);var80(t-30);var81(t-30);var82(t-30);var83(t-30);var1(t-29);var2(t-29);var3(t-29);var4(t-29);var5(t-29);var6(t-29);var7(t-29);var8(t-29);var9(t-29);var10(t-29);var11(t-29);var12(t-29);var13(t-29);var14(t-29);var15(t-29);var16(t-29);var17(t-29);var18(t-29);var19(t-29);var20(t-29);var21(t-29);var22(t-29);var23(t-29);var24(t-29);var25(t-29);var26(t-29);var27(t-29);var28(t-29);var29(t-29);var30(t-29);var31(t-29);var32(t-29);var33(t-29);var34(t-29);var35(t-29);var36(t-29);var37(t-29);var38(t-29);var39(t-29);var40(t-29);var41(t-29);var42(t-29);var43(t-29);var44(t-29);var45(t-29);var46(t-29);var47(t-29);var48(t-29);var49(t-29);var50(t-29);var51(t-29);var52(t-29);var53(t-29);var54(t-29);var55(t-29);var56(t-29);var57(t-29);var58(t-29);var59(t-29);var60(t-29);var61(t-29);var62(t-29);var63(t-29);var64(t-29);var65(t-29);var66(t-29);var67(t-29);var68(t-29);var69(t-29);var70(t-29);var71(t-29);var72(t-29);var73(t-29);var74(t-29);var75(t-29);var76(t-29);var77(t-29);var78(t-29);var79(t-29);var80(t-29);var81(t-29);var82(t-29);var83(t-29);var1(t-28);var2(t-28);var3(t-28);var4(t-28);var5(t-28);var6(t-28);var7(t-28);var8(t-28);var9(t-28);var10(t-28);var11(t-28);var12(t-28);var13(t-28);var14(t-28);var15(t-28);var16(t-28);var17(t-28);var18(t-28);var19(t-28);var20(t-28);var21(t-28);var22(t-28);var23(t-28);var24(t-28);var25(t-28);var26(t-28);var27(t-28);var28(t-28);var29(t-28);var30(t-28);var31(t-28);var32(t-28);var33(t-28);var34(t-28);var35(t-28);var36(t-28);var37(t-28);var38(t-28);var39(t-28);var40(t-28);var41(t-28);var42(t-28);var43(t-28);var44(t-28);var45(t-28);var46(t-28);var47(t-28);var48(t-28);var49(t-28);var50(t-28);var51(t-28);var52(t-28);var53(t-28);var54(t-28);var55(t-28);var56(t-28);var57(t-28);var58(t-28);var59(t-28);var60(t-28);var61(t-28);var62(t-28);var63(t-28);var64(t-28);var65(t-28);var66(t-28);var67(t-28);var68(t-28);var69(t-28);var70(t-28);var71(t-28);var72(t-28);var73(t-28);var74(t-28);var75(t-28);var76(t-28);var77(t-28);var78(t-28);var79(t-28);var80(t-28);var81(t-28);var82(t-28);var83(t-28);var1(t-27);var2(t-27);var3(t-27);var4(t-27);var5(t-27);var6(t-27);var7(t-27);var8(t-27);var9(t-27);var10(t-27);var11(t-27);var12(t-27);var13(t-27);var14(t-27);var15(t-27);var16(t-27);var17(t-27);var18(t-27);var19(t-27);var20(t-27);var21(t-27);var22(t-27);var23(t-27);var24(t-27);var25(t-27);var26(t-27);var27(t-27);var28(t-27);var29(t-27);var30(t-27);var31(t-27);var32(t-27);var33(t-27);var34(t-27);var35(t-27);var36(t-27);var37(t-27);var38(t-27);var39(t-27);var40(t-27);var41(t-27);var42(t-27);var43(t-27);var44(t-27);var45(t-27);var46(t-27);var47(t-27);var48(t-27);var49(t-27);var50(t-27);var51(t-27);var52(t-27);var53(t-27);var54(t-27);var55(t-27);var56(t-27);var57(t-27);var58(t-27);var59(t-27);var60(t-27);var61(t-27);var62(t-27);var63(t-27);var64(t-27);var65(t-27);var66(t-27);var67(t-27);var68(t-27);var69(t-27);var70(t-27);var71(t-27);var72(t-27);var73(t-27);var74(t-27);var75(t-27);var76(t-27);var77(t-27);var78(t-27);var79(t-27);var80(t-27);var81(t-27);var82(t-27);var83(t-27);var1(t-26);var2(t-26);var3(t-26);var4(t-26);var5(t-26);var6(t-26);var7(t-26);var8(t-26);var9(t-26);var10(t-26);var11(t-26);var12(t-26);var13(t-26);var14(t-26);var15(t-26);var16(t-26);var17(t-26);var18(t-26);var19(t-26);var20(t-26);var21(t-26);var22(t-26);var23(t-26);var24(t-26);var25(t-26);var26(t-26);var27(t-26);var28(t-26);var29(t-26);var30(t-26);var31(t-26);var32(t-26);var33(t-26);var34(t-26);var35(t-26);var36(t-26);var37(t-26);var38(t-26);var39(t-26);var40(t-26);var41(t-26);var42(t-26);var43(t-26);var44(t-26);var45(t-26);var46(t-26);var47(t-26);var48(t-26);var49(t-26);var50(t-26);var51(t-26);var52(t-26);var53(t-26);var54(t-26);var55(t-26);var56(t-26);var57(t-26);var58(t-26);var59(t-26);var60(t-26);var61(t-26);var62(t-26);var63(t-26);var64(t-26);var65(t-26);var66(t-26);var67(t-26);var68(t-26);var69(t-26);var70(t-26);var71(t-26);var72(t-26);var73(t-26);var74(t-26);var75(t-26);var76(t-26);var77(t-26);var78(t-26);var79(t-26);var80(t-26);var81(t-26);var82(t-26);var83(t-26);var1(t-25);var2(t-25);var3(t-25);var4(t-25);var5(t-25);var6(t-25);var7(t-25);var8(t-25);var9(t-25);var10(t-25);var11(t-25);var12(t-25);var13(t-25);var14(t-25);var15(t-25);var16(t-25);var17(t-25);var18(t-25);var19(t-25);var20(t-25);var21(t-25);var22(t-25);var23(t-25);var24(t-25);var25(t-25);var26(t-25);var27(t-25);var28(t-25);var29(t-25);var30(t-25);var31(t-25);var32(t-25);var33(t-25);var34(t-25);var35(t-25);var36(t-25);var37(t-25);var38(t-25);var39(t-25);var40(t-25);var41(t-25);var42(t-25);var43(t-25);var44(t-25);var45(t-25);var46(t-25);var47(t-25);var48(t-25);var49(t-25);var50(t-25);var51(t-25);var52(t-25);var53(t-25);var54(t-25);var55(t-25);var56(t-25);var57(t-25);var58(t-25);var59(t-25);var60(t-25);var61(t-25);var62(t-25);var63(t-25);var64(t-25);var65(t-25);var66(t-25);var67(t-25);var68(t-25);var69(t-25);var70(t-25);var71(t-25);var72(t-25);var73(t-25);var74(t-25);var75(t-25);var76(t-25);var77(t-25);var78(t-25);var79(t-25);var80(t-25);var81(t-25);var82(t-25);var83(t-25);var1(t-24);var2(t-24);var3(t-24);var4(t-24);var5(t-24);var6(t-24);var7(t-24);var8(t-24);var9(t-24);var10(t-24);var11(t-24);var12(t-24);var13(t-24);var14(t-24);var15(t-24);var16(t-24);var17(t-24);var18(t-24);var19(t-24);var20(t-24);var21(t-24);var22(t-24);var23(t-24);var24(t-24);var25(t-24);var26(t-24);var27(t-24);var28(t-24);var29(t-24);var30(t-24);var31(t-24);var32(t-24);var33(t-24);var34(t-24);var35(t-24);var36(t-24);var37(t-24);var38(t-24);var39(t-24);var40(t-24);var41(t-24);var42(t-24);var43(t-24);var44(t-24);var45(t-24);var46(t-24);var47(t-24);var48(t-24);var49(t-24);var50(t-24);var51(t-24);var52(t-24);var53(t-24);var54(t-24);var55(t-24);var56(t-24);var57(t-24);var58(t-24);var59(t-24);var60(t-24);var61(t-24);var62(t-24);var63(t-24);var64(t-24);var65(t-24);var66(t-24);var67(t-24);var68(t-24);var69(t-24);var70(t-24);var71(t-24);var72(t-24);var73(t-24);var74(t-24);var75(t-24);var76(t-24);var77(t-24);var78(t-24);var79(t-24);var80(t-24);var81(t-24);var82(t-24);var83(t-24);var1(t-23);var2(t-23);var3(t-23);var4(t-23);var5(t-23);var6(t-23);var7(t-23);var8(t-23);var9(t-23);var10(t-23);var11(t-23);var12(t-23);var13(t-23);var14(t-23);var15(t-23);var16(t-23);var17(t-23);var18(t-23);var19(t-23);var20(t-23);var21(t-23);var22(t-23);var23(t-23);var24(t-23);var25(t-23);var26(t-23);var27(t-23);var28(t-23);var29(t-23);var30(t-23);var31(t-23);var32(t-23);var33(t-23);var34(t-23);var35(t-23);var36(t-23);var37(t-23);var38(t-23);var39(t-23);var40(t-23);var41(t-23);var42(t-23);var43(t-23);var44(t-23);var45(t-23);var46(t-23);var47(t-23);var48(t-23);var49(t-23);var50(t-23);var51(t-23);var52(t-23);var53(t-23);var54(t-23);var55(t-23);var56(t-23);var57(t-23);var58(t-23);var59(t-23);var60(t-23);var61(t-23);var62(t-23);var63(t-23);var64(t-23);var65(t-23);var66(t-23);var67(t-23);var68(t-23);var69(t-23);var70(t-23);var71(t-23);var72(t-23);var73(t-23);var74(t-23);var75(t-23);var76(t-23);var77(t-23);var78(t-23);var79(t-23);var80(t-23);var81(t-23);var82(t-23);var83(t-23);var1(t-22);var2(t-22);var3(t-22);var4(t-22);var5(t-22);var6(t-22);var7(t-22);var8(t-22);var9(t-22);var10(t-22);var11(t-22);var12(t-22);var13(t-22);var14(t-22);var15(t-22);var16(t-22);var17(t-22);var18(t-22);var19(t-22);var20(t-22);var21(t-22);var22(t-22);var23(t-22);var24(t-22);var25(t-22);var26(t-22);var27(t-22);var28(t-22);var29(t-22);var30(t-22);var31(t-22);var32(t-22);var33(t-22);var34(t-22);var35(t-22);var36(t-22);var37(t-22);var38(t-22);var39(t-22);var40(t-22);var41(t-22);var42(t-22);var43(t-22);var44(t-22);var45(t-22);var46(t-22);var47(t-22);var48(t-22);var49(t-22);var50(t-22);var51(t-22);var52(t-22);var53(t-22);var54(t-22);var55(t-22);var56(t-22);var57(t-22);var58(t-22);var59(t-22);var60(t-22);var61(t-22);var62(t-22);var63(t-22);var64(t-22);var65(t-22);var66(t-22);var67(t-22);var68(t-22);var69(t-22);var70(t-22);var71(t-22);var72(t-22);var73(t-22);var74(t-22);var75(t-22);var76(t-22);var77(t-22);var78(t-22);var79(t-22);var80(t-22);var81(t-22);var82(t-22);var83(t-22);var1(t-21);var2(t-21);var3(t-21);var4(t-21);var5(t-21);var6(t-21);var7(t-21);var8(t-21);var9(t-21);var10(t-21);var11(t-21);var12(t-21);var13(t-21);var14(t-21);var15(t-21);var16(t-21);var17(t-21);var18(t-21);var19(t-21);var20(t-21);var21(t-21);var22(t-21);var23(t-21);var24(t-21);var25(t-21);var26(t-21);var27(t-21);var28(t-21);var29(t-21);var30(t-21);var31(t-21);var32(t-21);var33(t-21);var34(t-21);var35(t-21);var36(t-21);var37(t-21);var38(t-21);var39(t-21);var40(t-21);var41(t-21);var42(t-21);var43(t-21);var44(t-21);var45(t-21);var46(t-21);var47(t-21);var48(t-21);var49(t-21);var50(t-21);var51(t-21);var52(t-21);var53(t-21);var54(t-21);var55(t-21);var56(t-21);var57(t-21);var58(t-21);var59(t-21);var60(t-21);var61(t-21);var62(t-21);var63(t-21);var64(t-21);var65(t-21);var66(t-21);var67(t-21);var68(t-21);var69(t-21);var70(t-21);var71(t-21);var72(t-21);var73(t-21);var74(t-21);var75(t-21);var76(t-21);var77(t-21);var78(t-21);var79(t-21);var80(t-21);var81(t-21);var82(t-21);var83(t-21);var1(t-20);var2(t-20);var3(t-20);var4(t-20);var5(t-20);var6(t-20);var7(t-20);var8(t-20);var9(t-20);var10(t-20);var11(t-20);var12(t-20);var13(t-20);var14(t-20);var15(t-20);var16(t-20);var17(t-20);var18(t-20);var19(t-20);var20(t-20);var21(t-20);var22(t-20);var23(t-20);var24(t-20);var25(t-20);var26(t-20);var27(t-20);var28(t-20);var29(t-20);var30(t-20);var31(t-20);var32(t-20);var33(t-20);var34(t-20);var35(t-20);var36(t-20);var37(t-20);var38(t-20);var39(t-20);var40(t-20);var41(t-20);var42(t-20);var43(t-20);var44(t-20);var45(t-20);var46(t-20);var47(t-20);var48(t-20);var49(t-20);var50(t-20);var51(t-20);var52(t-20);var53(t-20);var54(t-20);var55(t-20);var56(t-20);var57(t-20);var58(t-20);var59(t-20);var60(t-20);var61(t-20);var62(t-20);var63(t-20);var64(t-20);var65(t-20);var66(t-20);var67(t-20);var68(t-20);var69(t-20);var70(t-20);var71(t-20);var72(t-20);var73(t-20);var74(t-20);var75(t-20);var76(t-20);var77(t-20);var78(t-20);var79(t-20);var80(t-20);var81(t-20);var82(t-20);var83(t-20);var1(t-19);var2(t-19);var3(t-19);var4(t-19);var5(t-19);var6(t-19);var7(t-19);var8(t-19);var9(t-19);var10(t-19);var11(t-19);var12(t-19);var13(t-19);var14(t-19);var15(t-19);var16(t-19);var17(t-19);var18(t-19);var19(t-19);var20(t-19);var21(t-19);var22(t-19);var23(t-19);var24(t-19);var25(t-19);var26(t-19);var27(t-19);var28(t-19);var29(t-19);var30(t-19);var31(t-19);var32(t-19);var33(t-19);var34(t-19);var35(t-19);var36(t-19);var37(t-19);var38(t-19);var39(t-19);var40(t-19);var41(t-19);var42(t-19);var43(t-19);var44(t-19);var45(t-19);var46(t-19);var47(t-19);var48(t-19);var49(t-19);var50(t-19);var51(t-19);var52(t-19);var53(t-19);var54(t-19);var55(t-19);var56(t-19);var57(t-19);var58(t-19);var59(t-19);var60(t-19);var61(t-19);var62(t-19);var63(t-19);var64(t-19);var65(t-19);var66(t-19);var67(t-19);var68(t-19);var69(t-19);var70(t-19);var71(t-19);var72(t-19);var73(t-19);var74(t-19);var75(t-19);var76(t-19);var77(t-19);var78(t-19);var79(t-19);var80(t-19);var81(t-19);var82(t-19);var83(t-19);var1(t-18);var2(t-18);var3(t-18);var4(t-18);var5(t-18);var6(t-18);var7(t-18);var8(t-18);var9(t-18);var10(t-18);var11(t-18);var12(t-18);var13(t-18);var14(t-18);var15(t-18);var16(t-18);var17(t-18);var18(t-18);var19(t-18);var20(t-18);var21(t-18);var22(t-18);var23(t-18);var24(t-18);var25(t-18);var26(t-18);var27(t-18);var28(t-18);var29(t-18);var30(t-18);var31(t-18);var32(t-18);var33(t-18);var34(t-18);var35(t-18);var36(t-18);var37(t-18);var38(t-18);var39(t-18);var40(t-18);var41(t-18);var42(t-18);var43(t-18);var44(t-18);var45(t-18);var46(t-18);var47(t-18);var48(t-18);var49(t-18);var50(t-18);var51(t-18);var52(t-18);var53(t-18);var54(t-18);var55(t-18);var56(t-18);var57(t-18);var58(t-18);var59(t-18);var60(t-18);var61(t-18);var62(t-18);var63(t-18);var64(t-18);var65(t-18);var66(t-18);var67(t-18);var68(t-18);var69(t-18);var70(t-18);var71(t-18);var72(t-18);var73(t-18);var74(t-18);var75(t-18);var76(t-18);var77(t-18);var78(t-18);var79(t-18);var80(t-18);var81(t-18);var82(t-18);var83(t-18);var1(t-17);var2(t-17);var3(t-17);var4(t-17);var5(t-17);var6(t-17);var7(t-17);var8(t-17);var9(t-17);var10(t-17);var11(t-17);var12(t-17);var13(t-17);var14(t-17);var15(t-17);var16(t-17);var17(t-17);var18(t-17);var19(t-17);var20(t-17);var21(t-17);var22(t-17);var23(t-17);var24(t-17);var25(t-17);var26(t-17);var27(t-17);var28(t-17);var29(t-17);var30(t-17);var31(t-17);var32(t-17);var33(t-17);var34(t-17);var35(t-17);var36(t-17);var37(t-17);var38(t-17);var39(t-17);var40(t-17);var41(t-17);var42(t-17);var43(t-17);var44(t-17);var45(t-17);var46(t-17);var47(t-17);var48(t-17);var49(t-17);var50(t-17);var51(t-17);var52(t-17);var53(t-17);var54(t-17);var55(t-17);var56(t-17);var57(t-17);var58(t-17);var59(t-17);var60(t-17);var61(t-17);var62(t-17);var63(t-17);var64(t-17);var65(t-17);var66(t-17);var67(t-17);var68(t-17);var69(t-17);var70(t-17);var71(t-17);var72(t-17);var73(t-17);var74(t-17);var75(t-17);var76(t-17);var77(t-17);var78(t-17);var79(t-17);var80(t-17);var81(t-17);var82(t-17);var83(t-17);var1(t-16);var2(t-16);var3(t-16);var4(t-16);var5(t-16);var6(t-16);var7(t-16);var8(t-16);var9(t-16);var10(t-16);var11(t-16);var12(t-16);var13(t-16);var14(t-16);var15(t-16);var16(t-16);var17(t-16);var18(t-16);var19(t-16);var20(t-16);var21(t-16);var22(t-16);var23(t-16);var24(t-16);var25(t-16);var26(t-16);var27(t-16);var28(t-16);var29(t-16);var30(t-16);var31(t-16);var32(t-16);var33(t-16);var34(t-16);var35(t-16);var36(t-16);var37(t-16);var38(t-16);var39(t-16);var40(t-16);var41(t-16);var42(t-16);var43(t-16);var44(t-16);var45(t-16);var46(t-16);var47(t-16);var48(t-16);var49(t-16);var50(t-16);var51(t-16);var52(t-16);var53(t-16);var54(t-16);var55(t-16);var56(t-16);var57(t-16);var58(t-16);var59(t-16);var60(t-16);var61(t-16);var62(t-16);var63(t-16);var64(t-16);var65(t-16);var66(t-16);var67(t-16);var68(t-16);var69(t-16);var70(t-16);var71(t-16);var72(t-16);var73(t-16);var74(t-16);var75(t-16);var76(t-16);var77(t-16);var78(t-16);var79(t-16);var80(t-16);var81(t-16);var82(t-16);var83(t-16);var1(t-15);var2(t-15);var3(t-15);var4(t-15);var5(t-15);var6(t-15);var7(t-15);var8(t-15);var9(t-15);var10(t-15);var11(t-15);var12(t-15);var13(t-15);var14(t-15);var15(t-15);var16(t-15);var17(t-15);var18(t-15);var19(t-15);var20(t-15);var21(t-15);var22(t-15);var23(t-15);var24(t-15);var25(t-15);var26(t-15);var27(t-15);var28(t-15);var29(t-15);var30(t-15);var31(t-15);var32(t-15);var33(t-15);var34(t-15);var35(t-15);var36(t-15);var37(t-15);var38(t-15);var39(t-15);var40(t-15);var41(t-15);var42(t-15);var43(t-15);var44(t-15);var45(t-15);var46(t-15);var47(t-15);var48(t-15);var49(t-15);var50(t-15);var51(t-15);var52(t-15);var53(t-15);var54(t-15);var55(t-15);var56(t-15);var57(t-15);var58(t-15);var59(t-15);var60(t-15);var61(t-15);var62(t-15);var63(t-15);var64(t-15);var65(t-15);var66(t-15);var67(t-15);var68(t-15);var69(t-15);var70(t-15);var71(t-15);var72(t-15);var73(t-15);var74(t-15);var75(t-15);var76(t-15);var77(t-15);var78(t-15);var79(t-15);var80(t-15);var81(t-15);var82(t-15);var83(t-15);var1(t-14);var2(t-14);var3(t-14);var4(t-14);var5(t-14);var6(t-14);var7(t-14);var8(t-14);var9(t-14);var10(t-14);var11(t-14);var12(t-14);var13(t-14);var14(t-14);var15(t-14);var16(t-14);var17(t-14);var18(t-14);var19(t-14);var20(t-14);var21(t-14);var22(t-14);var23(t-14);var24(t-14);var25(t-14);var26(t-14);var27(t-14);var28(t-14);var29(t-14);var30(t-14);var31(t-14);var32(t-14);var33(t-14);var34(t-14);var35(t-14);var36(t-14);var37(t-14);var38(t-14);var39(t-14);var40(t-14);var41(t-14);var42(t-14);var43(t-14);var44(t-14);var45(t-14);var46(t-14);var47(t-14);var48(t-14);var49(t-14);var50(t-14);var51(t-14);var52(t-14);var53(t-14);var54(t-14);var55(t-14);var56(t-14);var57(t-14);var58(t-14);var59(t-14);var60(t-14);var61(t-14);var62(t-14);var63(t-14);var64(t-14);var65(t-14);var66(t-14);var67(t-14);var68(t-14);var69(t-14);var70(t-14);var71(t-14);var72(t-14);var73(t-14);var74(t-14);var75(t-14);var76(t-14);var77(t-14);var78(t-14);var79(t-14);var80(t-14);var81(t-14);var82(t-14);var83(t-14);var1(t-13);var2(t-13);var3(t-13);var4(t-13);var5(t-13);var6(t-13);var7(t-13);var8(t-13);var9(t-13);var10(t-13);var11(t-13);var12(t-13);var13(t-13);var14(t-13);var15(t-13);var16(t-13);var17(t-13);var18(t-13);var19(t-13);var20(t-13);var21(t-13);var22(t-13);var23(t-13);var24(t-13);var25(t-13);var26(t-13);var27(t-13);var28(t-13);var29(t-13);var30(t-13);var31(t-13);var32(t-13);var33(t-13);var34(t-13);var35(t-13);var36(t-13);var37(t-13);var38(t-13);var39(t-13);var40(t-13);var41(t-13);var42(t-13);var43(t-13);var44(t-13);var45(t-13);var46(t-13);var47(t-13);var48(t-13);var49(t-13);var50(t-13);var51(t-13);var52(t-13);var53(t-13);var54(t-13);var55(t-13);var56(t-13);var57(t-13);var58(t-13);var59(t-13);var60(t-13);var61(t-13);var62(t-13);var63(t-13);var64(t-13);var65(t-13);var66(t-13);var67(t-13);var68(t-13);var69(t-13);var70(t-13);var71(t-13);var72(t-13);var73(t-13);var74(t-13);var75(t-13);var76(t-13);var77(t-13);var78(t-13);var79(t-13);var80(t-13);var81(t-13);var82(t-13);var83(t-13);var1(t-12);var2(t-12);var3(t-12);var4(t-12);var5(t-12);var6(t-12);var7(t-12);var8(t-12);var9(t-12);var10(t-12);var11(t-12);var12(t-12);var13(t-12);var14(t-12);var15(t-12);var16(t-12);var17(t-12);var18(t-12);var19(t-12);var20(t-12);var21(t-12);var22(t-12);var23(t-12);var24(t-12);var25(t-12);var26(t-12);var27(t-12);var28(t-12);var29(t-12);var30(t-12);var31(t-12);var32(t-12);var33(t-12);var34(t-12);var35(t-12);var36(t-12);var37(t-12);var38(t-12);var39(t-12);var40(t-12);var41(t-12);var42(t-12);var43(t-12);var44(t-12);var45(t-12);var46(t-12);var47(t-12);var48(t-12);var49(t-12);var50(t-12);var51(t-12);var52(t-12);var53(t-12);var54(t-12);var55(t-12);var56(t-12);var57(t-12);var58(t-12);var59(t-12);var60(t-12);var61(t-12);var62(t-12);var63(t-12);var64(t-12);var65(t-12);var66(t-12);var67(t-12);var68(t-12);var69(t-12);var70(t-12);var71(t-12);var72(t-12);var73(t-12);var74(t-12);var75(t-12);var76(t-12);var77(t-12);var78(t-12);var79(t-12);var80(t-12);var81(t-12);var82(t-12);var83(t-12);var1(t-11);var2(t-11);var3(t-11);var4(t-11);var5(t-11);var6(t-11);var7(t-11);var8(t-11);var9(t-11);var10(t-11);var11(t-11);var12(t-11);var13(t-11);var14(t-11);var15(t-11);var16(t-11);var17(t-11);var18(t-11);var19(t-11);var20(t-11);var21(t-11);var22(t-11);var23(t-11);var24(t-11);var25(t-11);var26(t-11);var27(t-11);var28(t-11);var29(t-11);var30(t-11);var31(t-11);var32(t-11);var33(t-11);var34(t-11);var35(t-11);var36(t-11);var37(t-11);var38(t-11);var39(t-11);var40(t-11);var41(t-11);var42(t-11);var43(t-11);var44(t-11);var45(t-11);var46(t-11);var47(t-11);var48(t-11);var49(t-11);var50(t-11);var51(t-11);var52(t-11);var53(t-11);var54(t-11);var55(t-11);var56(t-11);var57(t-11);var58(t-11);var59(t-11);var60(t-11);var61(t-11);var62(t-11);var63(t-11);var64(t-11);var65(t-11);var66(t-11);var67(t-11);var68(t-11);var69(t-11);var70(t-11);var71(t-11);var72(t-11);var73(t-11);var74(t-11);var75(t-11);var76(t-11);var77(t-11);var78(t-11);var79(t-11);var80(t-11);var81(t-11);var82(t-11);var83(t-11);var1(t-10);var2(t-10);var3(t-10);var4(t-10);var5(t-10);var6(t-10);var7(t-10);var8(t-10);var9(t-10);var10(t-10);var11(t-10);var12(t-10);var13(t-10);var14(t-10);var15(t-10);var16(t-10);var17(t-10);var18(t-10);var19(t-10);var20(t-10);var21(t-10);var22(t-10);var23(t-10);var24(t-10);var25(t-10);var26(t-10);var27(t-10);var28(t-10);var29(t-10);var30(t-10);var31(t-10);var32(t-10);var33(t-10);var34(t-10);var35(t-10);var36(t-10);var37(t-10);var38(t-10);var39(t-10);var40(t-10);var41(t-10);var42(t-10);var43(t-10);var44(t-10);var45(t-10);var46(t-10);var47(t-10);var48(t-10);var49(t-10);var50(t-10);var51(t-10);var52(t-10);var53(t-10);var54(t-10);var55(t-10);var56(t-10);var57(t-10);var58(t-10);var59(t-10);var60(t-10);var61(t-10);var62(t-10);var63(t-10);var64(t-10);var65(t-10);var66(t-10);var67(t-10);var68(t-10);var69(t-10);var70(t-10);var71(t-10);var72(t-10);var73(t-10);var74(t-10);var75(t-10);var76(t-10);var77(t-10);var78(t-10);var79(t-10);var80(t-10);var81(t-10);var82(t-10);var83(t-10);var1(t-9);var2(t-9);var3(t-9);var4(t-9);var5(t-9);var6(t-9);var7(t-9);var8(t-9);var9(t-9);var10(t-9);var11(t-9);var12(t-9);var13(t-9);var14(t-9);var15(t-9);var16(t-9);var17(t-9);var18(t-9);var19(t-9);var20(t-9);var21(t-9);var22(t-9);var23(t-9);var24(t-9);var25(t-9);var26(t-9);var27(t-9);var28(t-9);var29(t-9);var30(t-9);var31(t-9);var32(t-9);var33(t-9);var34(t-9);var35(t-9);var36(t-9);var37(t-9);var38(t-9);var39(t-9);var40(t-9);var41(t-9);var42(t-9);var43(t-9);var44(t-9);var45(t-9);var46(t-9);var47(t-9);var48(t-9);var49(t-9);var50(t-9);var51(t-9);var52(t-9);var53(t-9);var54(t-9);var55(t-9);var56(t-9);var57(t-9);var58(t-9);var59(t-9);var60(t-9);var61(t-9);var62(t-9);var63(t-9);var64(t-9);var65(t-9);var66(t-9);var67(t-9);var68(t-9);var69(t-9);var70(t-9);var71(t-9);var72(t-9);var73(t-9);var74(t-9);var75(t-9);var76(t-9);var77(t-9);var78(t-9);var79(t-9);var80(t-9);var81(t-9);var82(t-9);var83(t-9);var1(t-8);var2(t-8);var3(t-8);var4(t-8);var5(t-8);var6(t-8);var7(t-8);var8(t-8);var9(t-8);var10(t-8);var11(t-8);var12(t-8);var13(t-8);var14(t-8);var15(t-8);var16(t-8);var17(t-8);var18(t-8);var19(t-8);var20(t-8);var21(t-8);var22(t-8);var23(t-8);var24(t-8);var25(t-8);var26(t-8);var27(t-8);var28(t-8);var29(t-8);var30(t-8);var31(t-8);var32(t-8);var33(t-8);var34(t-8);var35(t-8);var36(t-8);var37(t-8);var38(t-8);var39(t-8);var40(t-8);var41(t-8);var42(t-8);var43(t-8);var44(t-8);var45(t-8);var46(t-8);var47(t-8);var48(t-8);var49(t-8);var50(t-8);var51(t-8);var52(t-8);var53(t-8);var54(t-8);var55(t-8);var56(t-8);var57(t-8);var58(t-8);var59(t-8);var60(t-8);var61(t-8);var62(t-8);var63(t-8);var64(t-8);var65(t-8);var66(t-8);var67(t-8);var68(t-8);var69(t-8);var70(t-8);var71(t-8);var72(t-8);var73(t-8);var74(t-8);var75(t-8);var76(t-8);var77(t-8);var78(t-8);var79(t-8);var80(t-8);var81(t-8);var82(t-8);var83(t-8);var1(t-7);var2(t-7);var3(t-7);var4(t-7);var5(t-7);var6(t-7);var7(t-7);var8(t-7);var9(t-7);var10(t-7);var11(t-7);var12(t-7);var13(t-7);var14(t-7);var15(t-7);var16(t-7);var17(t-7);var18(t-7);var19(t-7);var20(t-7);var21(t-7);var22(t-7);var23(t-7);var24(t-7);var25(t-7);var26(t-7);var27(t-7);var28(t-7);var29(t-7);var30(t-7);var31(t-7);var32(t-7);var33(t-7);var34(t-7);var35(t-7);var36(t-7);var37(t-7);var38(t-7);var39(t-7);var40(t-7);var41(t-7);var42(t-7);var43(t-7);var44(t-7);var45(t-7);var46(t-7);var47(t-7);var48(t-7);var49(t-7);var50(t-7);var51(t-7);var52(t-7);var53(t-7);var54(t-7);var55(t-7);var56(t-7);var57(t-7);var58(t-7);var59(t-7);var60(t-7);var61(t-7);var62(t-7);var63(t-7);var64(t-7);var65(t-7);var66(t-7);var67(t-7);var68(t-7);var69(t-7);var70(t-7);var71(t-7);var72(t-7);var73(t-7);var74(t-7);var75(t-7);var76(t-7);var77(t-7);var78(t-7);var79(t-7);var80(t-7);var81(t-7);var82(t-7);var83(t-7);var1(t-6);var2(t-6);var3(t-6);var4(t-6);var5(t-6);var6(t-6);var7(t-6);var8(t-6);var9(t-6);var10(t-6);var11(t-6);var12(t-6);var13(t-6);var14(t-6);var15(t-6);var16(t-6);var17(t-6);var18(t-6);var19(t-6);var20(t-6);var21(t-6);var22(t-6);var23(t-6);var24(t-6);var25(t-6);var26(t-6);var27(t-6);var28(t-6);var29(t-6);var30(t-6);var31(t-6);var32(t-6);var33(t-6);var34(t-6);var35(t-6);var36(t-6);var37(t-6);var38(t-6);var39(t-6);var40(t-6);var41(t-6);var42(t-6);var43(t-6);var44(t-6);var45(t-6);var46(t-6);var47(t-6);var48(t-6);var49(t-6);var50(t-6);var51(t-6);var52(t-6);var53(t-6);var54(t-6);var55(t-6);var56(t-6);var57(t-6);var58(t-6);var59(t-6);var60(t-6);var61(t-6);var62(t-6);var63(t-6);var64(t-6);var65(t-6);var66(t-6);var67(t-6);var68(t-6);var69(t-6);var70(t-6);var71(t-6);var72(t-6);var73(t-6);var74(t-6);var75(t-6);var76(t-6);var77(t-6);var78(t-6);var79(t-6);var80(t-6);var81(t-6);var82(t-6);var83(t-6);var1(t-5);var2(t-5);var3(t-5);var4(t-5);var5(t-5);var6(t-5);var7(t-5);var8(t-5);var9(t-5);var10(t-5);var11(t-5);var12(t-5);var13(t-5);var14(t-5);var15(t-5);var16(t-5);var17(t-5);var18(t-5);var19(t-5);var20(t-5);var21(t-5);var22(t-5);var23(t-5);var24(t-5);var25(t-5);var26(t-5);var27(t-5);var28(t-5);var29(t-5);var30(t-5);var31(t-5);var32(t-5);var33(t-5);var34(t-5);var35(t-5);var36(t-5);var37(t-5);var38(t-5);var39(t-5);var40(t-5);var41(t-5);var42(t-5);var43(t-5);var44(t-5);var45(t-5);var46(t-5);var47(t-5);var48(t-5);var49(t-5);var50(t-5);var51(t-5);var52(t-5);var53(t-5);var54(t-5);var55(t-5);var56(t-5);var57(t-5);var58(t-5);var59(t-5);var60(t-5);var61(t-5);var62(t-5);var63(t-5);var64(t-5);var65(t-5);var66(t-5);var67(t-5);var68(t-5);var69(t-5);var70(t-5);var71(t-5);var72(t-5);var73(t-5);var74(t-5);var75(t-5);var76(t-5);var77(t-5);var78(t-5);var79(t-5);var80(t-5);var81(t-5);var82(t-5);var83(t-5);var1(t-4);var2(t-4);var3(t-4);var4(t-4);var5(t-4);var6(t-4);var7(t-4);var8(t-4);var9(t-4);var10(t-4);var11(t-4);var12(t-4);var13(t-4);var14(t-4);var15(t-4);var16(t-4);var17(t-4);var18(t-4);var19(t-4);var20(t-4);var21(t-4);var22(t-4);var23(t-4);var24(t-4);var25(t-4);var26(t-4);var27(t-4);var28(t-4);var29(t-4);var30(t-4);var31(t-4);var32(t-4);var33(t-4);var34(t-4);var35(t-4);var36(t-4);var37(t-4);var38(t-4);var39(t-4);var40(t-4);var41(t-4);var42(t-4);var43(t-4);var44(t-4);var45(t-4);var46(t-4);var47(t-4);var48(t-4);var49(t-4);var50(t-4);var51(t-4);var52(t-4);var53(t-4);var54(t-4);var55(t-4);var56(t-4);var57(t-4);var58(t-4);var59(t-4);var60(t-4);var61(t-4);var62(t-4);var63(t-4);var64(t-4);var65(t-4);var66(t-4);var67(t-4);var68(t-4);var69(t-4);var70(t-4);var71(t-4);var72(t-4);var73(t-4);var74(t-4);var75(t-4);var76(t-4);var77(t-4);var78(t-4);var79(t-4);var80(t-4);var81(t-4);var82(t-4);var83(t-4);var1(t-3);var2(t-3);var3(t-3);var4(t-3);var5(t-3);var6(t-3);var7(t-3);var8(t-3);var9(t-3);var10(t-3);var11(t-3);var12(t-3);var13(t-3);var14(t-3);var15(t-3);var16(t-3);var17(t-3);var18(t-3);var19(t-3);var20(t-3);var21(t-3);var22(t-3);var23(t-3);var24(t-3);var25(t-3);var26(t-3);var27(t-3);var28(t-3);var29(t-3);var30(t-3);var31(t-3);var32(t-3);var33(t-3);var34(t-3);var35(t-3);var36(t-3);var37(t-3);var38(t-3);var39(t-3);var40(t-3);var41(t-3);var42(t-3);var43(t-3);var44(t-3);var45(t-3);var46(t-3);var47(t-3);var48(t-3);var49(t-3);var50(t-3);var51(t-3);var52(t-3);var53(t-3);var54(t-3);var55(t-3);var56(t-3);var57(t-3);var58(t-3);var59(t-3);var60(t-3);var61(t-3);var62(t-3);var63(t-3);var64(t-3);var65(t-3);var66(t-3);var67(t-3);var68(t-3);var69(t-3);var70(t-3);var71(t-3);var72(t-3);var73(t-3);var74(t-3);var75(t-3);var76(t-3);var77(t-3);var78(t-3);var79(t-3);var80(t-3);var81(t-3);var82(t-3);var83(t-3);var1(t-2);var2(t-2);var3(t-2);var4(t-2);var5(t-2);var6(t-2);var7(t-2);var8(t-2);var9(t-2);var10(t-2);var11(t-2);var12(t-2);var13(t-2);var14(t-2);var15(t-2);var16(t-2);var17(t-2);var18(t-2);var19(t-2);var20(t-2);var21(t-2);var22(t-2);var23(t-2);var24(t-2);var25(t-2);var26(t-2);var27(t-2);var28(t-2);var29(t-2);var30(t-2);var31(t-2);var32(t-2);var33(t-2);var34(t-2);var35(t-2);var36(t-2);var37(t-2);var38(t-2);var39(t-2);var40(t-2);var41(t-2);var42(t-2);var43(t-2);var44(t-2);var45(t-2);var46(t-2);var47(t-2);var48(t-2);var49(t-2);var50(t-2);var51(t-2);var52(t-2);var53(t-2);var54(t-2);var55(t-2);var56(t-2);var57(t-2);var58(t-2);var59(t-2);var60(t-2);var61(t-2);var62(t-2);var63(t-2);var64(t-2);var65(t-2);var66(t-2);var67(t-2);var68(t-2);var69(t-2);var70(t-2);var71(t-2);var72(t-2);var73(t-2);var74(t-2);var75(t-2);var76(t-2);var77(t-2);var78(t-2);var79(t-2);var80(t-2);var81(t-2);var82(t-2);var83(t-2);var1(t-1);var2(t-1);var3(t-1);var4(t-1);var5(t-1);var6(t-1);var7(t-1);var8(t-1);var9(t-1);var10(t-1);var11(t-1);var12(t-1);var13(t-1);var14(t-1);var15(t-1);var16(t-1);var17(t-1);var18(t-1);var19(t-1);var20(t-1);var21(t-1);var22(t-1);var23(t-1);var24(t-1);var25(t-1);var26(t-1);var27(t-1);var28(t-1);var29(t-1);var30(t-1);var31(t-1);var32(t-1);var33(t-1);var34(t-1);var35(t-1);var36(t-1);var37(t-1);var38(t-1);var39(t-1);var40(t-1);var41(t-1);var42(t-1);var43(t-1);var44(t-1);var45(t-1);var46(t-1);var47(t-1);var48(t-1);var49(t-1);var50(t-1);var51(t-1);var52(t-1);var53(t-1);var54(t-1);var55(t-1);var56(t-1);var57(t-1);var58(t-1);var59(t-1);var60(t-1);var61(t-1);var62(t-1);var63(t-1);var64(t-1);var65(t-1);var66(t-1);var67(t-1);var68(t-1);var69(t-1);var70(t-1);var71(t-1);var72(t-1);var73(t-1);var74(t-1);var75(t-1);var76(t-1);var77(t-1);var78(t-1);var79(t-1);var80(t-1);var81(t-1);var82(t-1);var83(t-1);var1(t);var2(t);var3(t);var4(t);var5(t);var6(t);var7(t);var8(t);var9(t);var10(t);var11(t);var12(t);var13(t);var14(t);var15(t);var16(t);var17(t);var18(t);var19(t);var20(t);var21(t);var22(t);var23(t);var24(t);var25(t);var26(t);var27(t);var28(t);var29(t);var30(t);var31(t);var32(t);var33(t);var34(t);var35(t);var36(t);var37(t);var38(t);var39(t);var40(t);var41(t);var42(t);var43(t);var44(t);var45(t);var46(t);var47(t);var48(t);var49(t);var50(t);var51(t);var52(t);var53(t);var54(t);var55(t);var56(t);var57(t);var58(t);var59(t);var60(t);var61(t);var62(t);var63(t);var64(t);var65(t);var66(t);var67(t);var68(t);var69(t);var70(t);var71(t);var72(t);var73(t);var74(t);var75(t);var76(t);var77(t);var78(t);var79(t);var80(t);var81(t);var82(t);var83(t);var84(t)","skip":"0","x":450,"y":660,"wires":[["ab402f89.04ce38"]]},{"id":"ab402f89.04ce38","type":"delay","z":"efb6143c.dca558","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":660,"wires":[["1e0e460.bbea53a","8a33cd9c.2c45f"]]}]
